/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container {
	width: 100%; 
	box-sizing: border-box;
	margin: 0 auto;
	padding: 2vh 4%;
	  border: 1px solid black;  
} 

/* Navigation Content */
.nav-wrapper {
	display: inline-block;
	 margin: 0 auto; 
	width: 100%;
	height: 4vh;
	/* border: 1px solid black;  */

}
.nav-wrapper a {
	display: inline-block;
	margin: 0 auto; 
	vertical-align: top;
	margin-top: .85vh; 
	width: 10vw;
	height: 3vh;
	font-size: 1.12rem;
	text-decoration: none;
	text-align: center;
	color: gray;
	
	
	   /* border: 1px solid black;    */

}

.logo {
	display: inline-block; 
	top: .75vh;
	padding-left: 2vw; 
	
	/* border: 1px solid black;  */
}
/* End Navigation */

/* Header Content */

.top {
	border-bottom: 2px solid black; 
	margin: 5vh 0 7vh 0; 
	box-sizing: border-box;
	padding: 3vh 0 3vh 2vw; 
	width: 84%;
}

.header-wrapper {
	margin-bottom: .25vh; 
	display: inline-block; 
	height: 40vh;
	width: 40vw;
	position: relative; 
  bottom: 1vh; 



	 /* border: 1px solid black;   */
}

.header-wrapper h1 {
	font-size: 5.5rem;
	letter-spacing: 0.5rem;
	text-align: center;
	vertical-align: center;
	
	/* border: 1px solid black;  */
}

.image1 {
	display: inline-block;
	/* position: relative; */
	left: 2%;
	top: 2.25vh;
	width: 30vw;
	height: 40vh;
	text-align: end;
	margin-left: 1vw; ;
	

	 /* border: 1px solid black;  */
}
.button {
	display: inline-block;
	width: 11vw;
	height: 3vh;
	position: relative;
	left: 13.5vw;


	border: 1.5px outset lightgray;
}
.button span {
	text-align: center;
	font-size: .75rem;
}

/* End Header */

/* Main Content */

 .top-paragraphs {
	    
	 width: 90%; 
	 margin: 0 auto 5vh auto; 
}

.features {
	   /* border: 1px solid black;  */
	display: inline-block; 
	height: 18vh; 
	width: 43%; 
	position: relative;
	bottom: 2.85vh; 
	right: 4vw; 
	 
}

.about {
	  /* border: 1px solid black; */
	display: inline-block;
	height: 18vh; 
	width: 43%;   
	position: relative;
	 bottom: 2.65vh; 
	 left: 1vw; 
	   
}

.top-paragraphs h2 {
	font-size: 1.5rem; 
	
}

.top-paragraphs p {
	font-size: 1.1rem; 
	line-height: 1.75rem;
	padding: .25rem;

}



.middle-img {
	width: 85%; 
	
	position: relative; 
	bottom: 5vh; 
}

.bottom-paragraphs {
	width: 90%; 
}

.services {
	display: inline-block; 
	width: 30%
}

.product {
	display: inline-block; 
	width: 30%
}

.vision {
	display: inline-block;
	width: 30%
}